<h1>All Questions</h1>

<% if @tag.present? %>
    <h6>
        Showing questions tagged body
        <span class="badge badge-pill badge-primary"><%= @tag.name%></span>
    </h6>
<% end %>



<% @questions.each do |record|%>
    <h2><%= link_to record.title, question_path(record)%></h2>
    <p><%= record.body%></p>
    <hr>
<% end %>